{{ dump(movies) }}
<div class='search'>
    search bar
</div>

<div class="content">
    {% if movies %}
        {% for movie in movies %}
            <div class="movie">
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.overview }}</p>
                <p>Release Date: {{ movie.release_date }}</p>
                
            </div>
        {% endfor %}
    {% else %}
        <p>No movies found.</p>
    {% endif %}
</div>

<div class="pagination">
    pagination 
</div>