<div class="full-page-search">
  <div class="search-icon" aria-label="Search Form">
    <i class="icon-search"></i>
  </div> <!--/.search icon -->
  <div class="search-box">
    <div class="search-box-close" aria-label="Close"></div>
    <div class="search-box-content">
      {{ page.search_box }}
    </div>
    <div class="search-box-close" aria-label="Close"></div>
  </div> <!-- /.search-box -->
</div> <!--/.full-page-search -->
