@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* Layout */
  .no-sidebar .main-container {
    grid-template-columns: 100%;
  }
  .sidebar-left .main-container {
    grid-template-columns: calc(30% - 1.5rem) 70%;
  }
  .sidebar-right .main-container {
    grid-template-columns: 70% calc(30% - 1.5rem);
  }
  .two-sidebar .main-container {
    grid-template-columns: calc(30% - 1.5rem) 40% calc(30% - 1.5rem);
  }
  #main {
    order: 2;
  }
  /* Sidebar */
  #sidebar-left {
    order: 1;
  }
  #sidebar-right {
    order: 3;
  }
  /* Footer */
  .region-footer-bottom .block {
    flex: 1 0 calc(50% - 1rem);
  }
  .services,
  .full,
  .flex-container {
    flex-direction: row;
  }
  .item {
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .item:last-child {
    padding: 0;
  }
  .service {
    margin: 0.5em;
    flex: 1 1 calc(33.333333% - 1em);
    max-width: calc(33.333333% - 1em);
  }
  /* main */
  .node-header {
    font-size: 1rem;
  }
  li.taxonomy-term a {
    padding: 8px 20px;
  }
  li.node-readmore a {
    padding: 0.6em 1em;
  }
  /* Comment */
  .comment-user-picture {
    flex: 0 0 100px;
    padding: 0 10px;
  }
  /* components */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
}
@media (min-width: 992px) {
  th {
    padding: 10px;
  }
  td {
    padding: 5px 10px;
  }
  /* Header */
  .site-branding img {
    max-height: 80px;
  }
  .site-name {
    font-size: 1.6rem;
  }
  .site-slogan {
    font-size: 0.9rem;
    margin-top: 2px;
  }
  .morphist {
    text-align: left;
  }
  .menu-wrap {
    position: relative;
    float: right;
    margin-left: 0;
    transition: none;
  }
  .mobile-menu {
    display: none;
  }
  .main-menu {
    display: block;
  }
  .search-box-content .block {
    width: 70%;
  }
  #page-header {
    padding: 6rem 0 1rem 0;
  }
  .header-circle1,
  .header-circle2,
  .header-circle3,
  .header-circle4 {
    width: 7rem;
    height: 7rem;
  }
  .header-circle5,
  .header-circle6 {
    width: 10rem;
    height: 10rem;
  }
}
